<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container-fluid p-5 text-center">
    <h3 th:if="${doctors.size()>0}" class="pb-4" th:text="'Doctors: ' + ${doctors.size()}"> </h3>
    <h3 th:unless="${doctors} and ${doctors.size()}">There are no doctors!</h3>
    <table th:if="${doctors.size()>0}" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Middle name</th>
            <th>Last name</th>
            <th>Specialty</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.firstName}"></td>
            <td th:text="${doctor.middleName}"></td>
            <td th:text="${doctor.lastName}"></td>
            <td th:text="${doctor.specialty}"></td>
            <td><a class="btn btn-info" th:href="@{'/doctors/edit-doctor/'+${doctor.id}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/doctors/delete/'+${doctor.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>