<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h3 class="text-center pt-4">Update the diagnosis</h3>
<div class="container p-3 text-center">
    <form action="#" th:action="@{/diagnoses/update/{id}(id=${id})}" th:object="${diagnosis}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors
                    ="*{name}">Name error</span>
        </div>

        <div class="form-group pb-4">
            <label for="description">Description</label>
            <input class="form-control" type="text" th:field="*{description}"
                   placeholder="Description" id="description">
            <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors
                    ="*{description}">Description error</span>
        </div>
        <button type="submit" class="btn btn-primary">Update Diagnosis</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>